html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main_head {
	height: 800px;
	background-color: aqua;
	background: url(../img/header/png-imageopa.png) top left no-repeat, url(../img/header/pictures_on_the_wall.jpg) top left no-repeat;
	background-size: cover, cover;
}

/*Inna metoda na cieniowanie:*/
/* background-image: linear-gradient(to bottom, rgba(0,0,0, 0.4)), rgba(0,0,0,.4), url(../img/header/png-imageopa.png); */


#main-nav {
	background-color: rgba(105,105,105, .4);
	height: 10vh;
	font-family: 'Montserrat', sans-serif;
}

.main_head #main-nav a {
	font-family: 'Montserrat', sans-serif;
	color: #f2f2f2;
	font-weight: 600;
	letter-spacing: 1.5px;
	font-size: 18px;
	text-transform: uppercase;
}
.navbar-brand span {
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-size: 25px;
}

#container-fluid hgroup {
	position: relative;
	top: 50%;
}
.btn-primary {
	text-transform: uppercase;
	background-color: #0ed8d6;
	font-weight: 700;
	width: 170px;
	height: 60px;
	border: 1px solid #0ed8d6;
	margin-top: 20px;
}
.btn-primary:hover {
	color: #0ed8d6;
	background-color: white;
}
.text-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
}
.text-center h1 {
	font-size: 70px;
	font-weight: 800;
}
.text-center h4 {
	font-size: 50px;
}
.text-center h6 {
	font-size: 30px;
}
.content_services {
	height: 700px;
}
.services_text {
	position: relative;
	margin-top: 10%;
	color: black;
}
.services_text h6 {
	margin: 30px;
	font-style: italic;
	margin-left: 10%;
	margin-right: 10%;
}
.services_text h1 {
	text-transform: uppercase;
}